/* General Page Setup */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

/* Header Styling */
header {
background-color: #00CED1;
  color: white;
  padding: 20px 10px;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.profile {
	text align:center;
	margin:20px 0;
}
.photo img {
  width: 150px;
  height: 150px;
  border-radius: 50% px;
  border: 2px solid #004080;
  object-fit: cover;
}

.intro {
  flex: 1;
  text-align: center;
}

.menu {
  display: flex;
  gap: 40px;  
  justify-content: center; 
  align-items: center;
  
}

.menu a {
  text-decoration: none; 
  margin-right: 40px;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Section Styling */
section {
  padding: 40px 20px;
  background-color: white;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #004080;
}

/* Schools Grid */
.school-grid {
  display: grid;
  grid-template-columns:auto auto auto;
  gap: 20px;
  margin-top: 20px;
}

.school-box {
  border: 2px solid #004080;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f0f8ff;
  font-weight: bold;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background-color:  #00CED1;
  color: white;
}


  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .photo img {
    width: 200px;
    height: 200px;
	border-radius: 50%;
  }
}